html, body {
  scroll-behavior: smooth;
  scroll-padding-top: 14vh;
  overflow-x: hidden; }

body {
  font-family: "Kollektif", sans-serif !important; }

.card-body {
  text-align: center; }

#socials-div {
  background-color: #18a5bc;
  text-align: center; }

.fa {
  padding: 10px;
  width: 50px !important;
  font-size: 30px !important;
  text-align: center;
  text-decoration: none !important;
  background-color: white;
  border-radius: 50%;
  color: #18a5bc; }

.icon {
  margin: 1vw; }

.fa:hover {
  opacity: 0.75; }

.fa-facebook {
  color: #3b5998; }

#insta-back {
  font-size: 30px;
  text-align: center;
  text-decoration: none !important;
  background-color: white;
  border-radius: 50%;
  display: inline-block; }

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px !important; }

#footer-logo {
  height: 150px;
  border-radius: 50%; }

.form-invalid {
  box-shadow: 0 1rem 3rem rgba(255, 0, 0, 0.75) !important; }

option {
  color: #495057 !important; }

body {
  position: relative;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

#event-card-car-1 {
  position: absolute !important; }

#event-card-car-2 {
  position: absolute !important; }

#event-card-car-3 {
  position: absolute !important; }

.fa-angle-down {
  color: black !important;
  background: none;
  font-size: 15px; }

.class-img {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  object-fit: cover; }

.class-info {
  color: white;
  font-size: 25px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 50px; }

.class-info:hover {
  text-decoration: none !important;
  color: white !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

.class-page-text {
  font-size: 1.25vw;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  height: 100%; }

.class-page-photos {
  border-radius: 15px;
  height: 100% !important;
  width: 100% !important;
  max-height: 75vh;
  max-width: 100%;
  object-fit: cover; }

#class-carousel {
  font-family: "Kollektif", sans-serif;
  text-align: center; }

#event-carousel {
  position: relative; }

.carousel-item {
  -webkit-transition: webkit-transform 0.6s ease !important;
  transition: transform 0.6s ease !important; }

.class-page-text-contrast {
  color: white !important; }

.class-page-img {
  border-radius: 15px; }

.contrast-div {
  background: #18a5bc; }

.flip-box {
  perspective: 1000px;
  backface-visibility: hidden; }

html {
  min-width: 320px; }

#progress-bar {
  height: 8px;
  background: linear-gradient(to right, #72c2ef, #18a5bc);
  width: 100%; }

.flip-box-inner {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transform-style: preserve-3d; }

.flip-toggle {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.title-text {
  font-size: 8vw;
  font-family: "Kollektif", sans-serif;
  color: white;
  text-align: center;
  text-shadow: 2px 3px 20px #212121; }

.sub-text {
  text-align: center;
  color: white;
  font-size: 3vw;
  text-shadow: 2px 3px 20px #212121; }

#title-div {
  background: linear-gradient(to top, rgba(114, 194, 239, 0.8), rgba(24, 165, 188, 0.8)), url("title3.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.flip-box-front {
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block; }

.flip-box-back {
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  padding: 0.4rem !important;
  padding-bottom: 1.5rem !important; }
  .flip-box-back .event-text {
    font-size: 1vw; }
  .flip-box-back .event-title-text {
    font-size: 1.48vw; }

#YTT-nav {
  height: 12vh;
  min-height: 75px; }

#nav-photo {
  height: 100%;
  vertical-align: middle; }

.nav-item {
  color: black;
  font-family: "Kollektif", sans-serif;
  font-size: 21.4px; }

.nav-item:hover {
  color: #18a5bc; }

nav {
  background-color: white;
  font-size: 20px; }

.classes-div {
  font-family: "Kollektif", sans-serif;
  background-color: #18a5bc;
  text-align: center; }

#classes-title {
  text-align: center;
  color: white;
  font-size: 60px;
  text-shadow: 2px 3px 20px #212121; }

#class-page-div {
  font-family: "Kollektif", sans-serif;
  padding-left: 0px !important;
  padding-right: 0px !important; }

.class-page-title {
  font-size: 3vw;
  color: #18a5bc;
  text-align: center;
  vertical-align: middle; }

.class-page-title-contrast {
  color: white !important; }

#class-page-title-text {
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw; }

.card {
  border-radius: 20px !important; }

.class-card-title {
  font-size: 1.48vw; }

.class-card-text {
  font-size: 0.95vw; }

#timetable {
  background-color: white;
  color: #303030 !important;
  border-color: white !important;
  width: 200px !important;
  justify-content: center;
  animation: none;
  -webkit-animation: none; }

#enrol-btn {
  background-color: white;
  color: #303030;
  width: 150px;
  margin: 0 auto;
  display: block;
  animation: none;
  -webkit-animation: none; }

#enrol-btn:hover {
  background-color: #e2e2e2 !important;
  color: black !important;
  -webkit-animation: pulse 1s infinite;
  -webkit-transition: .3s ease-in-out;
  animation: pulse 1s infinite;
  transition: .3s ease-in-out; }

#enrol-div {
  padding-left: 50px;
  padding-right: 50px; }

#timetable:hover {
  background-color: #e2e2e2 !important;
  color: black !important;
  -webkit-animation: pulse 1s infinite;
  -webkit-transition: .3s ease-in-out;
  animation: pulse 1s infinite;
  transition: .3s ease-in-out; }

.find-out-more {
  width: 100%;
  border-color: #18a5bc !important;
  font-size: 1.25vw !important; }

.find-out-more:hover {
  background-color: #10657c !important;
  border-color: #10657c !important; }

.flip-button {
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0px; }

.class-photo {
  padding-top: 20px; }

#contact-svg {
  width: 100%; }

#svg-class {
  width: 100%; }

#class-bottom-svg {
  width: 100%; }

.fa {
  text-align: center; }

.hamburger {
  width: 35px;
  height: 5px;
  background-color: #18a5bc;
  margin: 6px 0; }

#about-text {
  text-align: center;
  font-family: "Kollektif", sans-serif; }
  #about-text #about-paragraph {
    font-size: 1.75vw;
    line-height: 1;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%; }
  #about-text #about-title {
    color: #18a5bc;
    font-size: 60px; }

.btn-primary {
  background-color: #18a5bc !important; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.nav-link {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.nav-link:hover {
  -webkit-animation: pulse 1s infinite;
  -webkit-transition: .3s ease-in-out;
  animation: pulse 1s infinite;
  transition: .3s ease-in-out; }

.come-in {
  -webkit-animation: come-in 1.5s ease;
  animation: come-in 1.5s ease; }

.come-in:nth-child(odd) {
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s; }

.already-visible {
  -webkit-transform: translateY(0);
  -webkit-animation: none;
  transform: translateY(0);
  animation: none; }

.entrance-animation {
  -webkit-animation: come-in 1.5s ease;
  animation: come-in 1.5s ease; }

@keyframes come-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.event-photo {
  margin-top: 24px; }

#event-title {
  font-size: 60px;
  color: #18a5bc;
  text-align: center; }

.event-card {
  margin-top: 20px;
  margin-top: 0.2vw;
  margin-left: 1vw;
  margin-right: 1vw; }

#event-div {
  font-family: "Kollektif", sans-serif;
  text-align: center; }

.card-text {
  font-size: 1vw; }

.card-front-title {
  font-size: 1.6vw; }

.card-front-title-text {
  font-size: 1vw; }

.card-body {
  padding: 0.4rem !important;
  padding-bottom: 1.5rem !important; }

.card-img-top {
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border-radius: 20px; }

#testimonial {
  background-color: #18a5bc;
  font-family: "Kollektif", sans-serif;
  color: white;
  height: auto;
  width: auto; }

#test-background {
  background: linear-gradient(to top, rgba(114, 194, 239, 0.8), rgba(24, 165, 188, 0.8)), url("1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh; }

.test-carousel-text {
  text-align: center;
  font-size: 1.5vw;
  padding-left: 15vw;
  padding-right: 15vw; }

#testimonial-text {
  text-align: center; }

#enrol-title {
  font-size: 60px;
  color: #18a5bc;
  text-align: center; }

.carousel-item > .test-carousel-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#footer {
  background-color: #1884a1;
  color: white; }

@media screen and (max-width: 992px) {
  #about-paragraph {
    font-size: 3vw !important; } }
@media screen and (max-width: 820px) {
  #test-background, #title-div {
    background-attachment: scroll; } }
@media screen and (max-width: 675px) {
  #about-paragraph {
    font-size: 4vw !important; } }
@media screen and (max-width: 575px) {
  #about-paragraph {
    font-size: 5vw !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }

  #classes {
    display: none; }

  #event-div-wo-car {
    display: none; }

  #class-carousel {
    display: block; }

  #event-carousel {
    display: block; }

  #test-background {
    height: 60vh !important; } }
.event-carousel-indicator .active {
  background-color: #18a5bc !important; }

.event-carousel-indicator li {
  background-color: #82e0ef !important; }

.event-prev {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(24,165,188)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.event-next {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(24,165,188)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

@media screen and (min-width: 576px) {
  #class-carousel {
    display: none; }

  #event-carousel {
    display: none; } }
@media screen and (max-width: 575px) {
  .class-page-text {
    font-size: 4vw; }

  .class-page-title {
    font-size: 8vw; }

  .marg-top {
    margin-top: 15px; }

  .event-card {
    margin-left: 0vw !important;
    margin-right: 0vw !important; } }
@media screen and (max-width: 700px) {
  #footer {
    font-size: 12px; } }
@media screen and (max-width: 768px) {
  .classes-div {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 1200px) {
  .title-text {
    font-size: 12vw !important; }

  .sub-text {
    font-size: 4.5vw !important; } }
@media screen and (max-width: 800px) {
  .sub-text {
    font-size: 5.5vw !important; } }
@media screen and (max-width: 536px) {
  .title-text {
    font-size: 18vw !important; }

  .sub-text {
    font-size: 6.75vw !important; } }
@media screen and (max-width: 1199px) {
  .class-card-title {
    font-size: 3vw !important; }

  .card-text {
    font-size: 1.25vw !important; }

  .card-front-title {
    font-size: 2.5vw !important; }

  .class-card-text {
    font-size: 1.5vw !important; }

  #event-div {
    padding-left: 0px;
    padding-right: 0px; }

  .event-text {
    font-size: 1.2vw !important; }

  .event-title-text {
    font-size: 2.4vw !important; }

  .test-carousel-text {
    font-size: 2.4vw !important; }

  .find-out-more {
    font-size: 2vw !important; }

  .card-front-title-text {
    font-size: 1.25vw !important; } }
@media screen and (max-width: 767px) {
  .event-text {
    font-size: 2.5vw !important; }

  .event-title-text {
    font-size: 4.8vw !important; }

  .test-carousel-text {
    font-size: 3vw !important;
    padding-left: 5vw;
    padding-right: 5vw; }

  .class-card-title {
    font-size: 4.8vw !important; }

  .class-card-text {
    font-size: 2.5vw !important; }

  .card-text {
    font-size: 2.5vw !important; }

  .card-front-title {
    font-size: 4.8vw !important; }

  .card-front-title-text {
    font-size: 2.4vw !important; }

  .find-out-more {
    font-size: 3.84vw !important; } }
@media screen and (max-width: 575px) {
  #event-div {
    padding-left: 25px;
    padding-right: 25px; }

  .event-text {
    font-size: 3.75vw !important; }

  .event-title-text {
    font-size: 7.5vw !important; }

  .test-carousel-text {
    font-size: 3.4vw !important;
    padding-left: 0;
    padding-right: 0; }

  .card-text {
    font-size: 3.75vw !important; }

  .card-front-title {
    font-size: 7.5vw !important; }

  .card-front-title-text {
    font-size: 3.75vw !important; }

  .class-card-title {
    font-size: 7.5vw !important; }

  .class-card-text {
    font-size: 3.75vw !important; }

  .find-out-more {
    font-size: 6vw !important; } }
@media screen and (max-width: 450px) {
  .test-carousel-text {
    font-size: 3.6vw !important; } }
@media screen and (max-width: 713px) {
  #show-hamburger {
    display: block; }

  .hide {
    display: none; } }
@media screen and (min-width: 714px) {
  #show-hamburger {
    display: none; } }
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 100px;
  right: 20px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/*# sourceMappingURL=style.css.map */
