.flip-box {
  perspective: 1000px; }

.flip-box-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d; }

#blank {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%; }

.flip-toggle {
  transform: rotateY(180deg); }

.titles {
  width: 100%;
  margin-left: -15px; }

.title-text {
  font-size: 25px;
  text-align: center;
  vertical-align: center;
  font-family: "Kollektif", sans-serif;
  color: white; }

.flip-box-front {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-box-back {
  color: black;
  text-align: center;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .flip-box-back p {
    font-size: 20px; }

.nav-item {
  color: black;
  font-family: "Kollektif", sans-serif;
  font-size: 25px; }

nav {
  background-color: white;
  font-size: 20px; }

.classes-div {
  font-family: "Kollektif", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #18a5bc; }

#classes-title {
  text-align: center;
  color: white;
  font-size: 75px; }

.class-photo {
  padding-top: 20px; }

#contact-svg {
  width: 100%; }

#svg-class {
  width: 100%; }

#class-bottom-svg {
  width: 100%; }

.contact-icon {
  color: black; }

.fa {
  text-align: center; }

.hamburger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0; }

#about-text {
  text-align: center;
  font-family: "Kollektif", sans-serif; }
  #about-text #about-paragraph {
    font-size: 25px;
    line-height: 2em;
    padding-left: 100px;
    padding-right: 100px; }
  #about-text #about-title {
    color: #18a5bc; }

.contact-us-div {
  background-color: #18a5bc;
  font-family: "Kollektif", sans-serif; }

.contact-us-title {
  text-align: center;
  color: white; }

.btn-primary {
  background-color: #18a5bc !important;
  border-color: #18a5bc; }

.contact-options {
  background-color: white;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  font-size: 30px;
  text-align: center; }

.contact-options-1 {
  margin-left: 125px;
  margin-right: 125px; }

.contact-options-2 {
  margin-left: 125px;
  margin-right: 125px; }

.event-photo {
  margin-top: 24px; }

.event-card {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px; }

#event-div {
  font-family: "Kollektif", sans-serif;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px; }

.card-body {
  text-align: center; }

.card-img-top {
  justify-content: center; }

#testimonial {
  background-color: #1884a1;
  font-family: "Kollektif", sans-serif;
  color: white; }

#testimonial-text {
  text-align: center; }

#footer {
  background-color: #10657c;
  color: white;
  font-size: 20px; }

@media screen and (max-width: 700px) {
  #footer {
    font-size: 12px; } }
@media screen and (max-width: 768px) {
  .classes-div {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 1370px) {
  .event-card {
    margin-right: 25px;
    margin-right: 25px; } }
@media screen and (max-width: 1070px) {
  .event-card {
    margin-left: 5px;
    margin-right: 5px; }

  #event-div {
    padding-left: 0px;
    padding-right: 0px; } }
@media screen and (max-width: 568px) {
  #event-div {
    padding-left: 25px;
    padding-right: 25px; } }
@media screen and (max-width: 885px) {
  .contact-icon {
    font-size: 16px; } }
@media screen and (max-width: 1802px) {
  .contact-options-1 {
    margin-left: 100px;
    margin-right: 100px; }

  .contact-options-2 {
    margin-left: 100px;
    margin-right: 100px; } }
@media screen and (max-width: 992px) {
  .contact-options-1 {
    margin-left: 50px;
    margin-right: 50px; }

  .contact-options-2 {
    margin-left: 50px;
    margin-right: 50px; } }
@media screen and (max-width: 800px) {
  .contact-options-1 {
    margin-left: 25px;
    margin-right: 25px; }

  .contact-options-2 {
    margin-right: 25px;
    margin-left: 25px; } }
@media screen and (max-width: 572px) {
  .contact-options-1 {
    margin-left: 10px;
    margin-right: 10px; }

  .contact-options-2 {
    margin-right: 10px;
    margin-left: 10px; } }
@media screen and (max-width: 713px) {
  #demo {
    display: none; }

  #show-hamburger {
    display: block; }

  .hide {
    display: none; }

  #about-paragraph {
    line-height: 2em !important; } }
@media screen and (max-width: 1250px) {
  #about-paragraph {
    line-height: 1em !important; } }
@media screen and (min-width: 1251px) {
  #about-paragraph {
    line-height: 2em !important; } }
@media screen and (max-width: 1584px) {
  #about-paragraph {
    font-size: 15px;
    padding-left: 15px !important;
    padding-right: 15px !important; } }
@media screen and (min-width: 1585px) {
  #about-paragraph {
    font-size: 20px;
    padding-left: 100px !important;
    padding-right: 100px !important; } }
@media screen and (min-width: 714px) {
  #show-hamburger {
    display: none; } }
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 100px;
  right: 20px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/*# sourceMappingURL=style.css.map */
