html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 14vh; }

body {
  font-family: "Kollektif", sans-serif !important; }

body {
  position: relative; }

.class-page-text {
  font-size: 1.25vw;
  line-height: 1;
  text-align: center;
  vertical-align: middle; }

.class-page-photos {
  border-radius: 15px; }

#class-carousel {
  font-family: "Kollektif", sans-serif; }

.carousel-item {
  -webkit-transition: webkit-transform 0.6s ease !important;
  transition: transform 0.6s ease !important; }

.class-page-text-contrast {
  color: white !important; }

.class-page-img {
  border-radius: 15px; }

.contrast-div {
  background: #18a5bc; }

.contact-us-title {
  text-align: center;
  color: white;
  font-size: 1200px !important; }

.flip-box {
  perspective: 1000px;
  backface-visibility: hidden; }

html {
  min-width: 320px; }

#progress-bar {
  height: 8px;
  background: linear-gradient(to right, #72c2ef, #18a5bc);
  width: 100%; }

.flip-box-inner {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transform-style: preserve-3d; }

.flip-toggle {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.title-text {
  font-size: 8vw;
  font-family: "Kollektif", sans-serif;
  color: white;
  text-align: center;
  text-shadow: 2px 3px 20px #212121; }

.sub-text {
  text-align: center;
  color: white;
  font-size: 2vw;
  text-shadow: 2px 3px 20px #212121; }

.sub-text-2 {
  text-align: center;
  color: white;
  font-size: 1.2vw;
  text-shadow: 2px 3px 20px #212121; }

#title-div {
  background: linear-gradient(to top, rgba(114, 194, 239, 0.8), rgba(24, 165, 188, 0.8)), url("title3.jpeg");
  background-size: cover;
  background-position: center;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.flip-box-front {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-width: auto;
  min-height: auto;
  display: block; }

.flip-box-back {
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block; }
  .flip-box-back .event-text {
    font-size: 1vw; }
  .flip-box-back .event-title-text {
    font-size: 1.48vw; }

#YTT-nav {
  height: 12vh;
  min-height: 75px; }

#nav-photo {
  height: 100%;
  vertical-align: middle; }

.nav-item {
  color: black;
  font-family: "Kollektif", sans-serif;
  font-size: 25px; }

.nav-item:hover {
  color: #18a5bc; }

nav {
  background-color: white;
  font-size: 20px; }

.classes-div {
  font-family: "Kollektif", sans-serif;
  background-color: #18a5bc;
  text-align: center; }

#classes-title {
  text-align: center;
  color: white;
  font-size: 60px;
  text-shadow: 2px 3px 20px #212121; }

#class-page-div {
  font-family: "Kollektif", sans-serif;
  padding-left: 0px !important;
  padding-right: 0px !important; }

.class-page-title {
  font-size: 60px;
  color: #18a5bc;
  text-align: center; }

.class-page-title-contrast {
  color: white !important; }

#class-page-title-text {
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw; }

.card {
  border-radius: 20px !important; }

.class-card-title {
  font-size: 1.48vw; }

.class-card-text {
  font-size: 1vw; }

#timetable {
  background-color: white !important;
  color: #303030 !important;
  border-color: white !important; }

#timetable:hover {
  background-color: #e2e2e2 !important;
  color: black !important; }

.find-out-more {
  width: 100%;
  border-color: #18a5bc !important;
  font-size: 1.25vw !important; }

.find-out-more:hover {
  background-color: #10657c !important;
  border-color: #10657c !important; }

.flip-button {
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0px; }

.class-photo {
  padding-top: 20px; }

#contact-svg {
  width: 100%; }

#svg-class {
  width: 100%; }

#class-bottom-svg {
  width: 100%; }

.contact-icon {
  color: #303030 !important; }

.fa {
  text-align: center; }

.hamburger {
  width: 35px;
  height: 5px;
  background-color: #18a5bc;
  margin: 6px 0; }

#about-text {
  text-align: center;
  font-family: "Kollektif", sans-serif; }
  #about-text #about-paragraph {
    font-size: 1.75vw;
    line-height: 1;
    padding-left: 5vw;
    padding-right: 5vw; }
  #about-text #about-title {
    color: #18a5bc;
    font-size: 60px; }

.contact-us-div {
  background-color: #18a5bc;
  font-family: "Kollektif", sans-serif; }

.contact-us-title {
  text-align: center;
  color: white;
  font-size: 60px !important;
  text-shadow: 2px 3px 20px #212121; }

.btn-primary {
  background-color: #18a5bc !important;
  border-color: #18a5bc; }

.contact-options {
  background-color: white;
  color: #303030;
  border-radius: 25px;
  border: solid #303030;
  border-width: 0.25px;
  font-size: 2vw;
  text-align: center;
  width: 16vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw; }

.event-photo {
  margin-top: 24px; }

#event-title {
  font-size: 60px;
  color: #18a5bc;
  text-align: center; }

.event-card {
  margin-top: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0.2vw; }

#event-div {
  font-family: "Kollektif", sans-serif;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px; }

.card-body {
  text-align: center; }

.card-text {
  font-size: 1vw; }

.card-front-title {
  font-size: 2vw; }

.card-img-top {
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border-radius: 20px; }

#testimonial {
  background-color: #1884a1;
  font-family: "Kollektif", sans-serif;
  color: white; }

#testimonial-text {
  text-align: center; }

#footer {
  background-color: #10657c;
  color: white;
  font-size: 20px; }

@media screen and (max-width: 992px) {
  #about-paragraph {
    font-size: 3vw !important; }

  .contact-options {
    font-size: 2.5vw !important; } }
@media screen and (max-width: 675px) {
  .contact-options {
    width: 20vw !important;
    font-size: 3vw !important;
    margin-left: 5vw !important;
    margin-right: 5vw !important; }

  #about-paragraph {
    font-size: 4vw !important; } }
@media screen and (max-width: 575px) {
  #about-paragraph {
    font-size: 5vw !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }

  .contact-options {
    width: 27vw !important;
    font-size: 3.5vw !important;
    margin-left: 2.5vw !important;
    margin-right: 2.5vw !important; }

  #classes {
    display: none; }

  #event-div {
    display: none; }

  #class-carousel {
    display: block; } }
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

@media screen and (min-width: 576px) {
  #class-carousel {
    display: none; } }
@media screen and (max-width: 475px) {
  .contact-options {
    width: 30vw !important;
    font-size: 4.7vw !important; } }
@media screen and (max-width: 700px) {
  #footer {
    font-size: 12px; } }
@media screen and (max-width: 768px) {
  .classes-div {
    padding-left: 10px;
    padding-right: 10px; }

  .nav-item {
    font-size: 23px; } }
@media screen and (max-width: 1200px) {
  .title-text {
    font-size: 12vw !important; }

  .sub-text {
    font-size: 3vw !important; }

  .sub-text-2 {
    font-size: 1.8vw !important; } }
@media screen and (max-width: 800px) {
  .sub-text {
    font-size: 4vw !important; }

  .sub-text-2 {
    font-size: 2.4vw !important; } }
@media screen and (max-width: 536px) {
  .title-text {
    font-size: 18vw !important; }

  .sub-text {
    font-size: 5vw !important; } }
@media screen and (max-width: 1199px) {
  .class-card-title {
    font-size: 3vw !important; }

  .class-card-text {
    font-size: 1.5vw !important; }

  #event-div {
    padding-left: 0px;
    padding-right: 0px; }

  .event-text {
    font-size: 1.2vw !important; }

  .event-title-text {
    font-size: 2.4vw !important; }

  .card-text {
    font-size: 1.25vw !important; }

  .card-front-title {
    font-size: 2.5vw !important; }

  .find-out-more {
    font-size: 2vw !important; } }
@media screen and (max-width: 767px) {
  .event-text {
    font-size: 2.5vw !important; }

  .event-title-text {
    font-size: 4.8vw !important; }

  .class-card-title {
    font-size: 4.8vw !important; }

  .class-card-text {
    font-size: 2.5vw !important; }

  .card-text {
    font-size: 2.5vw; }

  .card-front-title {
    font-size: 4.8vw; }

  .find-out-more {
    font-size: 3.84vw !important; } }
@media screen and (max-width: 575px) {
  #event-div {
    padding-left: 25px;
    padding-right: 25px; }

  .event-text {
    font-size: 3.75vw !important; }

  .event-title-text {
    font-size: 7.5vw !important; }

  .card-text {
    font-size: 3.75vw !important; }

  .card-front-title {
    font-size: 7.5vw !important; }

  .class-card-title {
    font-size: 7.5vw !important; }

  .class-card-text {
    font-size: 3.75vw !important; }

  .find-out-more {
    font-size: 6vw !important; } }
@media screen and (max-width: 572px) {
  .sub-text-2 {
    display: none; } }
@media screen and (max-width: 713px) {
  #show-hamburger {
    display: block; }

  .hide {
    display: none; } }
@media screen and (min-width: 714px) {
  #show-hamburger {
    display: none; } }
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 100px;
  right: 20px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/*# sourceMappingURL=style.css.map */
